Arive


YOU'VE BEEN INVITED TO YOUR CAMPAIGN PORTAL

Hi {{ roster_name }},

{{ inviter_name }} has invited you to access your campaign portal on Arive. You'll be able to view your campaigns, upload content, and track deliverables.

Accept Invitation→ {{ invitation_url }}

Or copy this link:

{{ invitation_url }}

Didn't expect this invitation?
This invitation will expire in {{ expiration_hours }} hours. If you didn't request this, you can safely ignore this email.

----------------------------------------

Sent securely with Arive https://tryarive.com

© 2025 Arive. All rights reserved.